/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

:root{
    --primary-color: #2d6a4f;
    --secondary-color: #081c15;
    --tirnary-color: #52b788;
}

body,html{
    font-size: 16px;
    color: #000;
}

h1,h2,h3,h4,h5{
    line-height: 3.55rem;
}

a {
    font-size: 0.95rem !important;
    color: var(--secondary-color) !important;
    font-weight: bold !important;
}

.btn.btn-primary{
    background: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 4px;
}

.btn.btn-primary:hover{
    background: var(--secondary-color);
}